<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="/feed.xml" type="application/atom+xml" rel="alternate">

    <link rel="stylesheet" href="/css/simple.css">
    <link rel="stylesheet" href="/css/charts.css">
    <link rel="stylesheet" href="/css/custom.css?<%= Digest::MD5.file("src/static/css/custom.css").hexdigest %>">

    <title><%= @metadata_title || @title %></title>
  </head>
  <body class='<%= @class %>'>
    <header class='page-header'>
      <nav>
      Birds
      </nav>
    </header>
    <%= @content %>
  </body>
</html>
