<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Bird Gallery</title>
</head>
<body>
<table class='bird-list'>
  <tr>
    <th>#</th>
    <th>Name</th>
    <th>First Seen</th>
  </tr>
  {{#birds}}
    <tr>
      <td>{{number}}</td>
      <td>{{name}}</td>
      <td>{{oldest}}</td>
    </tr>
  {{/birds}}
</table>
</body>
</html>