:root {
  --sans-font: "Inter", sans-serif;
  --header-font: "Merriweather", serif;
  --bg: #fcf4e2;
  --text: #385c3c;
  --accent: #3b7d57;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: light;
    --bg: #fcf4e2;
    --text: #385c3c;
    --accent: #3b7d57;
    --accent-bg: #f5f7ff;
    --text-light: #585858;
    --accent-hover: #1266e2;
    --accent-text: var(--bg);
    --code: #d81b60;
    --preformatted: #444;
    --marked: #ffdd33;
    --disabled: #efefef;
  }

  img, video {
    opacity: 1.0;
  }
}

body {
  background-image: url("/svg/composited.svg");
  background-position-x: center;
  font-size:90%;
}

h2 i {
  margin-right: 0.25em;
}

body > header,
section {
  background-color: #fefae9;
  padding: 1.5rem;
  border-radius: var(--standard-border-radius);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  margin: 0;
  margin-bottom: 2rem;
  border: none;
}

body > header {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  grid-column: 2;
}

section h2 {
  display: flex;
  align-items: center;
  font-family: "Merriweather", serif;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  color: #385c3c;
}

nav section {
  box-shadow: none;
}

ul {
  list-style: disc inside;
  padding-left: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

th,
td {
  border: 1px solid #ddd190;
  padding: 0.75rem;
  text-align: left;
}

th {
  background-color: #f8eed3;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: var(--bg);
}

a {
  color: #3b7d57;
  text-decoration: underline;
  font-weight: bold;
}

a:hover {
  text-decoration: underline;
}

footer {
  text-align: center;
  margin-top: 3rem;
}

.link-icon {
  margin-right: 0.4rem;
  vertical-align: middle;
}
h1,
h2,
h3 {
  font-family: var(--header-font);
}

section + section,
section,
section:first-child {
  padding-top: 0.5rem;
}

.thumbnail {
  max-height: 150px;
  border-radius: 0;
  display: inline-block;
}

.thumbnails {
  white-space: nowrap;
  overflow-x: auto;
  margin-bottom: 1em;
}

/* Nav styling */
h1 a {
  color: var(--text) !important;
  text-decoration: none;
}

nav {
  display: flex;
  margin-top: 1em;
}

nav td:has(a.active) {
  background-color: #f8eed3;
}

nav section {
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom: none;
}

nav table {
  font-size: 90%;
}
nav table td,
nav table th {
  padding: 0.25rem;
  text-align: center;
  border-color: #f8eed3;
}
nav tr:nth-child(even) {
  background-color: inherit;
}
nav th {
  background-color: var(--bg);
}
nav th.period {
  text-align: left;
  padding-left: 0.5rem;
}
nav table td {
  padding: 0;
}
nav table td a {
  display: block;
  width: 100%;
}

h1 {
  margin-bottom: 0;
}

h3 {
  margin-top: 0; /* H3 on location page */
  margin-bottom: 0;
}

/* Map styling */
.mapboxgl-popup-tip {
  display: none;
}
.mapboxgl-popup-content {
  padding: 10px;
  border-radius: 8px;
}
.mapboxgl-popup {
  max-width: 400px;
  color: black;
  text-align: center;
  font: 12px/20px sans-serif;
}

/* Table styling */
h2 {
  margin-bottom: 0;
}
.bird-list td:nth-child(1),
.bird-list th:nth-child(1) {
  text-align: center;
}

.bird-list td:nth-child(3),
.bird-list th:nth-child(3) {
  text-align: center;
  white-space: nowrap;
}

.photo-criteria {
  margin-top: 0;
}

.photo-criteria td:nth-child(1),
.photo-criteria th:nth-child(1) {
  text-align: center;
}

#map {
  height: 300px;
  width: 100%;
  border-radius: var(--standard-border-radius);
}
.marker {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2236%22%20height%3D%2236%22%20viewBox%3D%220%200%2024%2024%22%3E%3Cpath%20fill%3D%22%23D32F2F%22%20d%3D%22M12%202C8.13%202%205%205.13%205%209c0%205.25%207%2013%207%2013s7-7.75%207-13c0-3.87-3.13-7-7-7zm0%209.5c-1.38%200-2.5-1.12-2.5-2.5s1.12-2.5%202.5-2.5%202.5%201.12%202.5%202.5-1.12%202.5-2.5%202.5z%22%2F%3E%3C%2Fsvg%3E");
  background-size: cover;
  width: 36px;
  height: 36px;
  cursor: pointer;
}
.mapboxgl-popup {
  max-width: 200px;
}

.locations-list td:nth-child(1),
.locations-list th:nth-child(1),
.locations-list td:nth-child(3),
.locations-list th:nth-child(3),
.locations-list td:nth-child(4),
.locations-list th:nth-child(4) {
  text-align: center;
  white-space: nowrap;
}

.species-list td:nth-child(3),
.species-list th:nth-child(3) {
  text-align: center;
  white-space: nowrap;
}

.opportunities-list td:nth-child(2),
.opportunities-list th:nth-child(2) {
  text-align: center;
  white-space: nowrap;
}

.group-row td:nth-child(1) {
  font-weight: bold;
  background-color: #f8eed3;
  text-align: left;
  padding-top: 5px;
  padding-bottom: 5px;
}

td a {
  text-decoration: none
}